<div class="container" class="FormModule">
    <div class="row">
        <div class="col-xs-12">
            <p> The Employee Details for  Employee id : {{employeeId}}</p>
            <table style="width:95%">
                <tr style="text-align: center;">
                  <th>Employee Id</th>
                  <th>EmployeeName</th>
                  <th>Salary</th>
                  <th>DepartmentID</th>
                  <th>ManagerName</th>
                </tr>
                <tr style="text-align: left;">
                  <td>{{employees.id}}</td>
                  <td>{{employees.employeeName}}</td>
                  <td>{{employees.salary}}</td>
                  <td>{{employees.departmentID}}</td>
                  <td>{{employees.managerName}}</td>
                </tr>
              </table> 
        </div>
    </div>
</div>
