<div class="container" style="text-align: center;" class="FormModule">
  <div class="row">
    <div class="col-xs-12">
      <h1>Employee-App</h1>
      <base href="/">
<nav class="FormModule">
  <a routerLink="/employeeList" routerLinkStatus="active">EmployeeList</a> &nbsp; &nbsp;
  <a routerLink="/employeeDetails" routerLinkStatus="active">EmployeeDetails</a>
</nav>
<router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details> 
-->